/* General */

@font-face {
    font-family: 'Libre Basker Viller';
    src: url('./LibreBaskerville-Regular.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-Regular.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    --main-color:rgb(94, 244, 154);
    --sub-color: rgb(187, 189, 29);
}

/* Blocks */

body {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 10% 80% 10%;
    height: 100vh;
    width: 100vw;
}

header {
    display: flex;
    grid-area: 1 / 1 / 2 / -1;
    align-items: center;
    padding: 1% 2%;
    background-color: var(--main-color);
    border-bottom: 0.2rem solid var(--sub-color);
    font-family: "Libre Basker Viller";
}

aside {
    grid-area: 2 / 1 / 3 / 2;
    padding: 10%;
    background-color: rgb(207, 207, 207);
    font-family: 'Roboto';
}

ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5%;
}

main {
    grid-area: 2 / 2 / 3 / -1;
    padding: 4% 5%;
    font-family: 'Roboto';
}

footer {
    display: flex;
    grid-area: 3 / 1 / -1 / -1;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    border-top: 0.2rem solid var(--sub-color);
    font-family: "Libre Basker Viller";
}

/* Elements */

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 3rem;
}

small {
    font-size: 1rem;
}

p {
    font-size: 1.6rem;
}

li {
    list-style: none;
    font-size: 3rem;
    font-weight: bold;
    width: 100%;
}

.project-list li {
    font-size: 2rem;
    font-weight: 300;
    width: 100%;
}

a {
    display: inline-block;
    text-decoration: none;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 5px;
}

/* Modifiers */

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    background-color: rgb(170, 170, 170);
}